**/.DS_Store
**/ansible.log
**/vault-pw.txt
**/__pycache__
hosts.yml
inventory/*
!inventory/template
!inventory/hosts.example
!inventory/hosts.example.yml
.venv
.cjob
*.out
*.retry
*.pem
id_rsa
id_rsa.pub
*.pem.pub
envs.*
ansible.log
envs.local
jobs
roles/*
!roles/requirements.yml
pipeline-scripts/
test/
ansible.cfg
